* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D84242;
}

.content,
.allLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.allLinks {
    flex-direction: row;
}

a,button {
    text-decoration: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: monospace;
    border: 2px solid white;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 14px;
}

a:hover,button:hover {
    background: white;
    color: #D84242;
    text-decoration: underline;
}

#content_Main {
    margin-bottom: 50px;
}

video {
    width: 500px;
}